<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cwww.post.mapper.HashtagMapper">

    <select id="upsertAndGet" resultType="com.cwww.post.domain.Hashtag">
        INSERT INTO hashtag (name)
        VALUES (#{name})
        ON CONFLICT (name) DO UPDATE SET name = EXCLUDED.name
        RETURNING hashtag_id, name
    </select>

    <insert id="linkToPost">
        INSERT INTO post_hashtag (post_id, hashtag_id)
        VALUES (#{postId}, #{hashtagId})
        ON CONFLICT DO NOTHING
    </insert>

    <select id="findNamesByPostId" resultType="String">
        SELECT h.name
        FROM hashtag h
        JOIN post_hashtag ph ON h.hashtag_id = ph.hashtag_id
        WHERE ph.post_id = #{postId}
    </select>

    <delete id="deleteByPostId">
        DELETE FROM post_hashtag WHERE post_id = #{postId}
    </delete>

</mapper>
