<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cwww.post.mapper.HashtagMapper">

    <insert id="upsertHashtag">
        INSERT INTO hashtag (name)
        VALUES (#{name})
        ON CONFLICT (name) DO NOTHING
    </insert>

    <select id="findByName" resultType="com.cwww.post.domain.Hashtag">
        SELECT hashtag_id, name
        FROM hashtag
        WHERE name = #{name}
    </select>

    <insert id="linkToPost">
        INSERT INTO post_hashtag (post_id, hashtag_id)
        VALUES (#{postId}, #{hashtagId})
        ON CONFLICT DO NOTHING
    </insert>

</mapper>
