<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cwww.post.mapper.PostMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="postId">
        INSERT INTO post (user_id, title, content, visibility, created_at, updated_at)
        VALUES (#{userId}, #{title}, #{content}, #{visibility}, NOW(), NOW())
    </insert>

</mapper>
